.menu {
  @include reset-list;
  padding-bottom: 5px;


  &__title {
    background-color: $primary-color;
    margin: 0;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
  }

  &__item {
    font-size: $em-base;
  }
  &__link {
    display: block;
    padding: 10px 30px;
    color: inherit;
    text-decoration: none;
    &:hover, &.main-menu__link--active {
      color: $primary-color;
    }
  }
}