$em-base: 14px;
$site-scaller: 1;
$main-font: 'PT Sans';

$site-max-width: 1170px;
$pd-container: 15px;

$xs-w: 560px;
$sm-w: 780px;
$md-w: 1024px;
$lg-w: 1380px;
$xs-h: 520px;
$sm-h: 680px;


// Colors.
$red:   #f00;
$green: #0f0;
$blue:  #00f;
$gray:  #aaa;
$black: #000;
$white: #fff;

$light: #fff;
$dark: #000;

$primary-color: #ffc411;
$main-color: #041f31;